<div class="container">
  <div class="row">
    <div class="col-md-6">
       <nav class="navbar navbar-light bg-light">
        <h3>管理者ジャンル一覧・追加</h3>
        </nav>
         <%= form_with(model: @grenge, remote: true) do |f| %>
         <div class="row">
             <div class="form-name row">
              <%= f.label :ジャンル名 %>
              <%= f.text_field :name, class: "col-xs-12",id: "text" %>
              </div>
          
              <div class="actions row">
                    <%= f.submit "新規登録", class: "btn btn-success col-xs-12" %>
              </div>
            </div>
          </div>
        <% end %>
        
        
        <table class='table'>
            <thead>
                 <tr>
                  <th>ジャンル</th>
                 </tr>
            </thead>
            <tbody>
              <div class="genre">
              <%= render  'posts/new',  genres: @genres %>
              </div>
            </tbody>
        </table>

    </div>
  </div>
</div>