 <div class="container customer">
    <div class="row customer">
      <div class="col-4">
           <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
             <h3>ジャンル一覧・追加</h3>
           </nav>
       </div>
     </div>
      <%= form_with(model: @grenge, remote: true) do |f| %>
         <div class="row">
            <div class="col-2">
                <%= f.label :ジャンル名 %>
            </div>
            <div class="col-2">
              <div class="form-group row">
                 <%= f.text_field :name,id: "text" %>
              </div>
             </div>
             <div class="col-2">
               <div class="formg-roup ">
                  <%= f.submit "新規登録", class: "btn btn-success col-xs-12" %>
               </div>
              </div>
            </div>
        <% end %>
   <!--<div class="row">-->
     <div class="col-4">
        <table class='table'>
          <thead class="thead-light" >
              <tr>
                <th>ジャンル</th>
                <th
              </tr>
            </thead>
            <tbody>
              <div class="genre">
               <%= render partial: 'posts/new', locals: {genres: @genres} %>
              </div>
          </tbody>
        </table>
      </div>
 </div>