<div class="container">
  <div class="row">
   <div class="mx-auto">
    <h4><span style="background-color:#ececec">　ログイン　</span></h4>
    <div class="m-5">
     <h5><span style="background-color:#ececec">　会員の方はこちらからログイン　</span></h3>
    </div>
     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
     <div class="m-5">
       <div class="field">
        <%= f.label :メールアドレス　　　 %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
       </div>
       <div class="field">
        <%= f.label :パスワード　　　　　 %>
        <%= f.password_field :password, autocomplete: "current-password" %>
       </div>
     </div>
     <div class="section1 text-center">
      <button class="btn btn-primary" type="f.submit">
      　ログイン　
      </button>
     </div>
     <% end %>
 
     <div class="m-5">
      <h5><span style="background-color:#ececec">　会員登録がお済みでない方　</span></h3>
     </div>
     <div class="text-center">
       <%= link_to 'こちら',new_customer_registration_path %> から新規登録を行ってください。
     </div>
    </div>
  </div>
</div>