 <div class="container">
   <div class="row ">
　　 <h1 class="heading08"><span>Order</span>注文情報確認</h1>
    </div>
    <div class="row">
     <div class="col-7">
        <table  class="table table-bordered">
         <thead class="table-primary">
           <tr>
             <th>商品名</th>
             <th>単価(税込)</th>
             <th>数量</th>
             <th>小計</th>
           </tr>
         </thead>
         <tbody>
          <% @cart_items.each do |cart_item| %>
           <tr>
             <td><%= cart_item.item.name %></td>
             <td><%= tax_price(cart_item.item.price) %></td>
             <td><%= cart_item.amount %></td>
             <td><%= tax_subtotal(cart_item.item.price,cart_item.amount) %></td>
           </tr>
           <% end %>
         </tbody>
       </table>
    </div>
  </div>
  <div class="row">
     <div class="col-4">
         <table  class="table table-bordered">
           <tr>
            <th class="bg-light">送料</th>
            <td style="background: #FFFFCC;"><%= @shopping_cost %></td>
           </tr>
           <tr>
            <th class="bg-light">商品合計</th>
            <td style="background: #FFFFCC;"><%=  tax_total_price(@cart_items) %></td>
           </tr>
           <tr>
            <th class="bg-light">請求金額</th>
            <td style="background: #FFFFCC;"><%= @total_payment %></td>
           </tr>
         </table>
      </div>
   </div>
  <div class="row">
    <div class="col-8">
     <span class="under">支払方法</span>
     <%= @order.payment_method %><br>
     <span class="under">お届け先</span>
      〒<%= @order.postal_code %>　<%= @order.address %>
     　<%= @order.name %>
     </div>
   </div>
     
      <%= form_with model:@order,local:true do |f| %>
        <%= f.hidden_field :postal_code, value:@order.postal_code  %>
        <%= f.hidden_field :address, value:@order.address %>
        <%= f.hidden_field :name, value:@order.name %>
        <%= f.hidden_field :shopping_cost, value:@shopping_cost %>
        <%= f.hidden_field :total_payment, value:@total_payment %>
        <%= f.hidden_field :payment_method, value:@order.payment_method %>
        <%= f.submit "注文を確定する" ,class: "btn btn-outline-success" %>
      <% end %>
     </div>
   </div>
 </div>
     

 