<div class="container">
   <div class="row">
       <div class="col-3">
         <h1 class="heading08"><span>Order Deitals</span>注文履歴一覧</h1>
       </div>
    </div>
    <div classs="row hoge">
     <table class="table">
          <thead class="table-primary">
            <tr>
              <th>注文日</th>
              <th>配送式先</th>
              <th>注文商品</th>
              <th>支払い金額</th>
              <th>ステータス</th>
              <th>注文詳細</th>
            </tr>
          </thead>
              <tbody>
              <% @orders.each do |order| %>
                 <tr>
                     <th><%= order.created_at %></th>
                     <th><%= order.postal_code %></br>
                         <%= order.address %></br>
                         <%= order.name %>
                     </th>
                     <th>
                        <% order.order_details.each do |order_detail| %>
                         <%= order_detail.item.name %></br>
                        <% end %>
                     </th>
                     <th><%= order.total_payment %></th>
                     <th><%= order.status %></th>
                     <th><%= link_to "表示する",order_path(order),class: "btn btn-outline-info" %></th>
                 </tr>
              <% end %>
              </tbody>
        </table>
       </div>
    </div>
