<div class='container'>
  <div class='row'>
    <div class='md-col-4'>
      <h3>注文履歴詳細</h3>
    </div>
  </div>

  <div class='row'>
    <div class='md-col-2'>
      <table class='table table-borderless'>
        <body>
          <tr>
            <th>購入日</th>
            <th><%= @order.created_at %></th>
          </tr>
          <tr>
            <th>配送先</th>
            <th><%= @order.postal_code %></br>
                <%= @oeder.address %></br>
                <%= @oeder.name %>
            </th>
          </tr>
          <tr>
            <th>支払い方法</th>
            <th><%= @order.payment_method %></th>
          </tr>
          <tr>
            <th>注文ステータス</th>
            <th><%= @order.status %></th>
          </tr>
        </body>
      </table>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row align-items-end'>
    <div class='col-md-8'>
      <table class='table'>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
            <tr>
              <th><%= order_detail.item.name %> </th>
              <th><%= Order.item_price_in_tax(order_detail) %></th>
              <th><%= order_detail.amount %></th>
              <th><%= Order.item_price_subtotal(order_detail) %></th>
              <%= form_with model:order_detail, url: admin_order_detail_path(order_detail), method: :patch, local:true do |f| %>
                <th><%= f.select :making_status, OrderDetail.making_statuses.keys, {include_blank: order_detail.making_status}, class:'btn btn-outline-dark' %></th>
                <th>
                  <%= f.submit '更新', class:'btn btn-success' %>
                </th>
              <% end %>
            </tr>
          <% end %>
        </body>
      </table>
    </div>

    <div class='col-md-3 offset-md-1'>
      <table class='table table-borderless'>
        <tbody>
          <tr>
            <th>商品合計</th>
            <th>
              <% array = [] %>
              <% @order.order_details.each do |order_detail| %>
                <% array << order_detail.item.price * 1.1 * order_detail.amount %>
              <% end %>
              <%= array.sum %><text>円</text>
            </th>
          </tr>
          <tr>
            <th>送料</th>
            <th>
              <%= @order.shopping_cost %><text>円</text>
            </th>
          </tr>
          <tr>
            <th>請求金額合計</th>
            <th>
              <%= array.sum + @order.shopping_cost %><text>円</text>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
