
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= attachment_image_tag(@item, :image, :fill, 400, 300, fallback: "no_image.jpg") %>
    </div>
   <%= render partial: 'layouts/flash' %>
    <div class="col-md-6">
      <span class="under">name</span>
      <h4><%= @item.name %></h4><br>
      <span class="under">introduction</span>
      <h4><%= @item.introduction %></h4><br>
      <!--<#% if @item.is_active == true %>-->
        <h4 class="text-success">販売中</h4>
        <h3>¥ <%= tax_price(@item.price) %><span style="font-size: large;">(税込み)</span></h3>
        <%= form_with model: @cart_item, url: cart_items_path do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <p><%= f.select :amount, ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"], include_blank: "個数選択" %></p>
             <%= f.button :type => "submit" do %>
               <i class="fas fa-shopping-cart" style="color: royalblue;">カートに入れる</i>
              <% end %>
        <% end %>
  </div>
</div>

