<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
       <a class="btn btn-outline-info" href="/"><span>LOGO</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      <div class="row">
        <div class="col-10 offset-2">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ">
                <% if customer_signed_in? %>
                  <li><%= link_to ' マイページ',customer_path(current_customer),class: 'fas fa-home nav-link text-light' %></li>
                  <li><%= link_to ' 商品一覧',items_path,class: 'fas fa-users nav-link text-light' %></li>
                  <li><%= link_to ' カート',class: 'fas fa-book-open nav-link text-light'%></li>
                  <li><%= link_to ' ログアウト', destroy_customer_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-light' %></li>
                <% elsif admin_signed_in? %>
                  <!--<div class="col-md-4">-->
                  <li class="customer"><%= link_to '商品一覧',admin_items_path,class:"btn btn-info"%></li>
                  <!--</div>-->
                  <!--<div class="col-md-4">-->
                   <li class="customer"><%= link_to '会員一覧',admin_customers_path,class:"btn btn-info" %></li>
                  <!--</div>-->
                  <!--<div class="col-md-4">-->
                   <li class="customer"><%= link_to '注文履歴一覧',admin_orders_path,class:"btn btn-info" %></li>
                  <!--</div>-->
                  <!-- <div class="col-md-4">-->
                   <li class="customer"><%= link_to 'ジャンル一覧',admin_genres_path,class:"btn btn-info" %></li>
                  <!--</div>-->
                  <!-- <div class="col-md-4">-->
                   <li class="customer"><%= link_to "ログアウト", destroy_admin_session_path,class:"btn btn-info", method: :delete %></li>
                  <!--</div>-->
                <% else %>
                  <li><%= link_to ' About',root_path,class: 'fas fa-home nav-link text-light' %></li>
                  <li><%= link_to ' 商品一覧',items_path,class: 'fas fa-link nav-link text-light' %></li>
                  <li><%= link_to ' 新規登録', new_customer_registration_path,class: 'fas fa-user-plus nav-link text-light' %></li>
                  <li><%= link_to ' ログイン', new_customer_session_path ,class: 'fas fa-sign-in-alt nav-link text-light'%></li>
                <% end %>
              </ul>
            </div>
         </div>
        <div class="row">
           <div class="col-7"></div>
          <div class="col-3 offset-2 ">
          <%= search_form_for@search,url: admin_items_path do |f| %>
          <%= f.search_field :name_cont,class:'search',placeholder: 'Search' %>
          <% end %>
          </div>
      </div>
      </div>
    </div>
   </nav>
</header>
